.home {
  padding: 5% 10%;
}

.modal {
  position: fixed;
  top: 60%;
  left: 50%;
  width: 550px;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border: var(--grey-darker) 1px solid;
  border-radius: 15px;
  background-color: var(--background);
}

.close-container {
  position: absolute;
  top: 8%;
  left: 93%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.3s ease;
  border-radius: 50%;
}

.close-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.close-svg {
  stroke: #666;
}

.close-container:hover .close-svg {
  stroke: #000;
}